<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Martin Romero</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="~/Assets/Icons/favicon.ico">
    
      <style>
            h2{padding-bottom: 2%;}
            img.iconos{
                -webkit-filter: invert(100%);
                filter: invert(1);
                    }
            .iconos:hover{
                -webkit-filter: invert(0.75);
                filter: invert(0.75);
            }
            html{
                scroll-behavior: smooth;
            }
            nav .dropdown{
                display: none;
            }
            
       
    
            #correo:hover {
                text-decoration: underline;
            }
    
    
        </style>
    
</head>
<body>

    <nav class="navbar  navbar-default fixed-top  navbar-expand-sm navbar-dark   " style="background-color: rgb(5,5,5)" id="toolbar">
        <div id="toolbarContainer" class="container" style="width:100%">

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-primary " id="navbarNav">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item ">
                        @Html.ActionLink("Martin Romero", "Index", "Home",
                            new { area = "" }, new { @class = "navbar-brand" }) <!-- Agregar padding -->
                       
                    </li>
                    <li class="nav-item ">
                       @Html.ActionLink("Proyectos", "Projects", "Home", new { area = "" }, new { @class = "nav-link text-light " })
                    </li>
                    <li class="nav-item ">
                            @Html.ActionLink("Skillset", "Skillset", "Home", new { area = "" }, new { @class = "nav-link text-light " })
                    </li>
                   <li class="nav-item ">
                            @Html.ActionLink("Formacion Academica", "Education", "Home", new { area = "" }, new { @class = "nav-link text-light " })
                   </li>
                </ul>
            </div>
        </div>

    </nav>


<div class="container body-content px-5 rounded-lg" style="background-color:rgba( 255, 255, 255, 0.7); margin-top: 90px ; margin-bottom:-20px; min-height:100vh" >
    <div id="cuerpoContainer">



        @RenderBody()
   
    </div>
</div>

<footer id="contacto" class="text-light py-3 text-center" style="background-color: rgb(5,5,5); margin-top: 50px;">
    <h6>Contacto</h6>
    <div class="row m-auto" style="padding-top: 20px">
        <div class="col">
            <br/>
            <h5>Correo Electronico: <i>martin.romero.t@outlook.es</i></h5>
            <br/><br/>

            <span class="text-right">
                <a href="https://www.linkedin.com/in/martin-ignacio-romero/" style="text-decoration: none">
                    <img src="~/Assets/Images/linkedin.png" class="iconos">
                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

                <a href="https://github.com/lvingman" style="text-decoration: none">
                    <img src="~/Assets/Images/github.png" class="iconos">
                </a>
            </span>
        </div>
        <div class="col" >
       
            <form class="border border-light  p-5 me-5 mb-4  row g-3 text-start">
              <div class="col-md-6" style="margin-top: -2px" >
                <label for="inputEmail4" class="form-label">Nombre</label>
                <input style="max-width: 100%" type="text" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6" style="margin-top: -2px">
                <label for="inputPassword4" class="form-label">Apellido</label>
                <input style="max-width: 100%" type="text" class="form-control" id="inputPassword4">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Correo Electronico</label>
                <input style="max-width: 100%" type="email" class="form-control" id="inputAddress" >
              </div>
              <div class="col-12">
                <label for="inputCity" class="form-label">Contenido del mensaje</label>
                <textarea style="max-width: 100%" class="form-control"></textarea>
              </div>
             
              <div class="col-12">
                <button type="submit" class="btn btn-light" style="margin-top: 9px">Enviar</button>
              </div>
            </form>
            
            
        </div>
    </div>
 

</footer>

  

@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
